.avatar {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}
.profile {
  padding: 10px;
  box-sizing: border-box;
}
.description {
  max-width: 280px;
  margin: 0 auto;
  margin-top: 28px;
}
.name {
  font-size: 26px;
  font-weight: 600;
}
.link {
  color: #0064eb;
  font-size: 18px;
  font-weight: 400;
  margin-top: 12px;
}
.followersAndFollowing {
  display: flex;
  justify-content: space-between;
}
.following {
  display: flex;
}
.followers {
  display: flex;
}
.title {
  margin-left: 8px;
  font-size: 16px;
}
