.amountRepositories {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}
.emptyRepo {
  min-height: calc(100vh - 72px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.emptyRepoTitle {
  font-size: 22px;
  color: #808080;
  margin-top: 24px;
}
.itemPaginate {
  width: 21px;
  color: white;
  height: 25px;
  border-radius: 3px;
  background-color: #0064eb;
}
