.amountRepositories {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}
.emptyRepo {
  min-height: calc(100vh - 72px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.emptyRepoTitle {
  font-size: 22px;
  color: #808080;
  margin-top: 24px;
}
.blockPaginate {
  display: flex;
}
.blockPaginate li {
  width: 21px;
  height: 25px;
  background-color: #0064eb;
  color: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.blockPaginate li:not(:last-child) {
}
